In [6]:
# Import pandas
import pandas as pd

# Assign spreadsheet filename to `file`
file = 'Cases.xlsx'

# Load spreadsheet
xl = pd.ExcelFile(file)

# Print the sheet names
print(xl.sheet_names)

# Load a sheet into a DataFrame by name: df1
df1 = xl.parse('Input')
display(df1)

['Sheet1', 'Input']

      month  % FULL    WTI   Coal    CO2  current TTF_forward
Mc1       1   62.33  50.00  79.05  24.00               23.000
Mc2       2   55.00  51.00  80.30  22.15               19.000
Mc3       3   43.50  54.49  81.30  22.16               19.852
Mc4       4   31.25  54.77  82.30  22.18               19.477
Mc5       5   58.00  55.06  83.45  22.18               19.417
Mc6       6   66.00  55.39  84.00  22.21               19.337
Mc7       7   66.67  55.65  84.00  22.21               19.320
Mc8       8   76.75  55.72  84.50  22.21               19.425
Mc9       9   91.00  55.92  85.00  22.26               19.685
Mc10     10   89.33  55.82  85.30  22.26               20.607
Mc11     11   88.00  55.49  85.75  22.26               22.017
Mc12     12   83.00  55.72  85.90  22.30               22.407
Mc13      1   62.33  55.59  85.90  22.30               22.577
Mc14      2   55.00  55.10  85.85  22.30               22.627
Mc15      3   43.50  54.89  85.50  22.44               22.207
Mc16      4   31.25  54.46  85.30  22.44               20.654
Mc17      5   58.00  54.36  84.95  22.44               19.214
Mc18      6   66.00  54.96  84.85  22.53               18.824
Mc19      7   66.67  54.17  84.60  22.53               18.834
Mc20      8   76.75  54.07  84.60  22.53               18.984
Mc21      9   91.00  54.00  84.70  22.62               19.549
Mc22     10   89.33  53.94  84.70  22.62               20.236
Mc23     11   88.00  53.90  84.90  22.62               20.961
Mc24     12   83.00  54.46  84.60  22.71               21.241